@model IEnumerable<StudentQuizSystem.Data.Entities.Quiz>
<h2>Available Quizzes</h2>
<ul>
@foreach(var q in Model)
{
<li>
<a asp-controller="Quiz" asp-action="Take" asp-routeid="@q.Id">@q.Title</a>
 - @q.Description
</li>
}
</ul>